:root {
    --primary: #1e94d7;
    --light: #EEEEEE;
    --dark: #212121;
    --grey: #d3d3d3;
}

* {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Fira sans', 'sans-serif';
}

body {
    background: rgb(245,245,246);
    background: linear-gradient(82deg, rgba(245,245,246,1) 0%, rgba(218,236,238,1) 49%, rgba(245,249,250,1) 80%);
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    color: var(--primary);
    text-decoration: solid;
    font-size: 40px;
}

h2{
    color: var(--primary);
    text-decoration: solid;
    font-size: 25px;
}

p{
    font-size: 18px;
    text-align: justify;
}

a{
    color: var(--primary);
    font-size: 18px;
}

li{
    margin-left: 10%;
    width: 50%;
}
@media screen and (min-width: 500px) {

h2{
    color: var(--primary);
    text-decoration: solid;
    font-size: 30px;
}

p{
    font-size: 20px;
    width: 75%;
    text-align: justify;
}

a{
    color: var(--primary);
    font-size: 20px;
}

li{
    margin-left: 5%;
    width: 50%;
    font-size: 20px;
}

br{
    line-height: 20px;
    
}

}
